footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    padding: 4px 0;
    font-size: 14px;
    border-bottom: 1px dotted #555;
}

footer h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

footer i {
    font-size: 16px;
}
